*.sw*
*~
.*history
.DS_Store
.bundle
.cache
.config
.direnv
.dockerignore
.editorconfig
.env*
.git
.gitattributes
.github
.gitignore
.lesshst
.local
.vscode
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Dockerfile
LICENSE
README.md
SECURITY.md
Session.vim
docker-compose*.yml
log
node_modules
tmp
